<div class='col-sm-12'>
  <div class='row'>
    <button style='position:absolute; right:15px' type='button' class='btn btn-success' data-toggle="modal" (click)="newTask()" data-target="#Newtaskmodel"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
  <div class="modal" id="Newtaskmodel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="TaskName">Task Name</label>
            <input type="text" class="form-control" name="TaskName" [formControl]='TaskName' id="txtTaskName" required>
            <div *ngIf="TaskName.invalid && (TaskName.dirty || TaskName.touched)"
            class="alert alert-danger">Please Enter Task Name</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" #closeButton class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="CreateNewtask()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class='row' cdkDropListGroup>
    <div class="col-sm-3" style='margin-top:50px;'>
      <div class='btn btn-secondary col-sm-12'>New  <span class="badge badge-light">{{new.length}}</span></div>

      <div
        cdkDropList
        #newList="cdkDropList"
        [cdkDropListData]="new"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of new" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item}}</div>
      </div>
    </div>

    <div class="col-sm-3 clear-fix" style='margin-top:50px;'>
      <div class='btn btn-info col-sm-12'>To do  <span class="badge badge-light">{{todo.length}}</span></div>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="col-sm-3" style='margin-top:50px;'>
      <div class='btn btn-primary col-sm-12'>QA  <span class="badge badge-light">{{qa.length}}</span></div>

      <div
        cdkDropList
        #qaList="cdkDropList"
        [cdkDropListData]="qa"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of qa" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="col-sm-3" style='margin-top:50px;'>
      <div class='btn btn-success col-sm-12'>Done  <span class="badge badge-light">{{done.length}}</span></div>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div>